<!DOCTYPE html>
<html>
		<head>

				<title> Home Page </title>

				<style type="test/css" media="screen"> 
					background-color: skyblue;
					text-decoration-color:white;
					front-size: 7em;

				</style>
		</head>

		<body>
		<center> This is our home page Mr <%= name +" "+surname %> </center>

		</body>
</html>